@font-face{
    font-family: resumeFont;
    src: url(tnr.ttf);
}

body{
    font-family:resumeFont;
}

tr.section {
    vertical-align:top;
}

table.s {
    margin-top:10px;
}

span.big {
    font-size:20;
}

.resumetable{
    display: table;
    width: 7in;
    padding-top:10px;
}

.resumetablebody{
    display: table;
    width: 7in;
}

.resumetablerow {
    display: table-row;
}

.rightcell, .divTableHead {
    display: table-cell;
    padding: 10px 0px;
}

.leftcell {
    display: table-cell;
    width:1.3in;
    color:#002259;
}
.leftcell::first-letter {
    font-size:24;
}

.employertable{
    display: table;
    width: 100%;
}

.leftcell2 {
    display: table-cell;
    width:3in;
    padding-bottom:5px;
}

.rightcell2 {
    display: table-cell;
    padding: 10px 0px;
    text-align:right;
}

.divTableBody {
    display: table-row-group;
}
